<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>433863886749-oj94ths64grpoauorh9ptg49ss4vqhtg.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.433863886749-oj94ths64grpoauorh9ptg49ss4vqhtg</string>
			</array>
		</dict>
	</array>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433863886749-oj94ths64grpoauorh9ptg49ss4vqhtg</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.briannguyen</string>
</dict>
</plist>
